* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        /*  justify-content: space-between; */
  -webkit-box-align: center;
      -ms-flex-align: center;
         align-items: flex-end; 
         
  width: 100%;
  min-height: 55px;
  padding: 1rem 1rem;
  /*position:fixed;*/
  top: 0;
  background-color:#fff0ed;
  
}

nav .nav-bar-link{text-decoration: none; color: #393939 }
nav .nav-bar-text{ list-style-type: none; font-family: Helvetica ; font-size: 18px; 
                    font-style: normal; display: inline; margin-right: 20px;}
nav .nav-bar-heading{ font-family: Helvetica ; font-weight:100; font-size: 50px;  color: #393939; float: left;}

.hero-container{
background-color: #fff0ed; 
column-count: 2;
column-gap: 220px;
column-rule-width: 50%;
padding-left: 70px;
padding-bottom: 50px;
/*column-rule-style:

column-rule-color:
column-rule:
column-span:
column-width:*/
}

.hero-container-text{
  font-family: helvetica;
  color:#393939;
  padding-right: 25px;
  margin-right: 25px;
  
}

.hero-container-title{ 
   padding-top: 2rem;
   padding-bottom: 0rem;
   padding-right: 2rem;
   padding-left:3rem;
   font-size: 60px;
   font-weight: 100;
  }

.hero-container-body{
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  padding-right: 2rem;
  padding-left:3rem;
  font-size: 21px;
   
}

.hero-container-button{
  margin-left: 50px;
   }

button{
  color:#5bacc3;
  border-width: 0px;
  background-color:#5bacc3 ;
  width: 180px;
  height:55px;
  outline-style: solid;
}

.button-text{
  color:white;
  font-family: helvetica;
  font-size: 21px;
}
.hero-container-img{

  height: 500px;
 
}

main{background-color: #f7f7f7; z-index: -1;}
footer{background-color: salmon;}

.our-product{
column-count: 3;
column-gap: 120px;

padding-left: 90px;
padding-right: 90px;
padding-bottom:0px;
column-span:all;


}

.our-product-title{
  font-family: helvetica;
  color:#393939;
  font-size: 60px;
  font-weight: 100;
  text-align: center;
  padding: 2rem;

}

.card{
  background-color: #fff;
 box-shadow: 0 8px 8px 0px black;
 
}
.card_container{
padding: 2rem;
text-align: center;
}

.card_name{
  font-family: helvetica;
  font-weight: 100;
  font-size: 21px;
  color:#393939;

}

.card_photo{

padding-left: 30%;
padding-right: 30%;
padding-top: 40px;
height: 238px;

}
.card_price{ font-family: helvetica; 
  font-size: 21px; 
  color:#5bacc3;
  padding-top: 1rem;
}


