/* css with BEM. menu.css doesnt have BEM*/ 
/* This CSS is more organized, albeit there may be unneccesary repetition of stylings*/
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        /*  justify-content: space-between; */
  -webkit-box-align: center;
      -ms-flex-align: center;
         align-items: flex-end; 
         
  width: 100%;
  min-height: 55px;
  padding: 1rem 1rem;
  /*position:fixed;*/
  top: 0;
  background-color:#fff0ed;
  
}

main{background-color: #f7f7f7;overflow: visible; }
.header__nav-items__nav-link--active{ color: #5bacc3; text-decoration: none;}
.header__nav-items__nav-link{text-decoration: none; color: #393939 }
.header__nav-items{ list-style-type: none; font-family: Helvetica ; font-size: 18px; 
                    font-style: normal; display: inline; margin-right: 20px;}
.header__nav-title{ font-family: Helvetica ; font-weight:100; font-size: 50px;  color: #393939; float: left;}

.hero-container{
background-color: #fff0ed; 
padding: 4rem;
display: flex;
align-items: flex-start;
object-fit: contain;

}

.hero-container__hero-img{
  height: 548px;
  padding-right: 7rem;

}
.hero-container__text{
  font-family: helvetica;
  color:#393939;
  padding-right: 9rem;
  margin-right: 6rem;
}

.hero-container__hero-header{ 
   padding-top: 2rem;
   padding-bottom: 0rem;
   padding-right: 2rem;
   padding-left:3rem;
   font-size: 60px;
   font-weight: 100;
  }

.hero-container__hero-body{
  padding-top: 1rem;
  padding-bottom: 2.5rem;
  
  padding-left:3rem;
  font-size: 25px;
  padding-right: 16rem;
  margin-right: 4rem;
   
}

.hero_container__hero-button{
  margin-left: 50px;
   }

button{
  color:#5bacc3;
  border-width: 0px;
  background-color:#5bacc3 ;
  width: 180px;
  height:55px;
  outline-style: solid;
}

.button-text{
  color:white;
  font-family: helvetica;
  font-size: 21px;
}


.main-products__title-text{
  font-family: helvetica;
  color:#393939;
  font-size: 60px;
  font-weight: 100;
  text-align: center;
  padding: 3rem;

  
}

.main-products{
  display: flex;
  justify-content: space-around; 
align-content: center;
padding-left: 13%;
padding-right: 7%;
padding-bottom: 3%;

 
 
}
.main-products__product-card{
  
  background-color: #fff;
  box-shadow: 0 5px 9px -1px rgba(0,0,0,0.25);

  margin-right: 100px;

  width: 435px;
  height: 440px;
  border-radius: 10px;
}

.main-products__product-info{
  padding-top: 4rem;
  
  padding-left: 0rem;
  text-align: center;

}

.main-products__product-name{
  font-family: helvetica;
  font-weight: 100;
  font-size: 33px;
  color:#393939;

}

.main-products__product-img{
  display: flex;
  justify-content: center;
padding-left: 33%;
padding-top: 40px;
height: 250px;

}




.main-products__product-price{ font-family: helvetica; 
  font-size: 33px; 
  color:#5bacc3;
  padding-top: 1rem;
}

.main-products__view-all{
  background-color: #f7f7f7;
  padding-left: 43.75%;
  padding-right: 42%;
  padding-top: 2%;
  padding-bottom: 4%;
}





.main-discount{

  background-color: #fff;
  padding-right: 12%;
  padding-left: 12%;
  padding-top: 10%;
  padding-bottom: 10%;

}

.main-discount__text{

  font-family: helvetica;
  font-size: 40px;
  text-align: center;
  font-weight: 100;
  color: #fff;
background-color: #000;opacity: 85%;
padding-top: 3rem;
padding-bottom: 3rem;
padding-right: 0rem;
margin-right: 0px

}

.main-discount__code{
font-weight: bold;

}

footer{

  display: flex;
  justify-content: space-around; 
 background-color: #fff0ed; 
 padding-left: 5%;
  padding-right:15% ;
  padding-bottom: 3%;
  padding-top: 3%; 
/* column-count: 3;
  column-gap: 70px;
  column-rule-width: 50%;
 
  p*/

}

.footer-section{

  color: #393939;
}
.footer-section__title{
  font-family: helvetica;
  font-size:21px;
font-weight: 50;
  margin-bottom:1rem;
}

.footer-section__body{
font-family: helvetica;
font-size: 18px;
font-weight:50;

}

.footer-social__img{
  padding-right:1rem;
}