* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
        /*  justify-content: space-between; */
  -webkit-box-align: center;
      -ms-flex-align: center;
         align-items: flex-end; 
         
  width: 100%;
  min-height: 55px;
  padding: 1rem 1rem;
  /*position:fixed;*/
  top: 0;
  background-color:#fff0ed;
  
}

nav .nav-bar-link{text-decoration: none; color: #393939 }
nav .nav-bar-text{ list-style-type: none; font-family: Helvetica ; font-size: 18px; 
                    font-style: normal; display: inline; margin-right: 20px;}
nav .nav-bar-heading{ font-family: Helvetica ; font-weight:100; font-size: 50px;  color: #393939; float: left;}

header .hero-container{
background-color: #fff0ed; ;

}

.card_price{ font-family: helvetica; font-size: 21px; color:#5bacc3;}
.card_container{

}

.card_name{

}

.card_photo{


}

.button{
width: 180px;
height:55px;
color: red;
background: white;
border-width: 2px;
offset: 5px;
outline-style: solid;

}

.button_text{


}